{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block body %}
    <main class="container">
        <hgroup>
            <h1>Dependapilot</h1>
            <p>Dashboard</p>
        </hgroup>
        <mark>TODO</mark>
    </main>
{% endblock %}
